.btn-lilas {
    background-color:#998CEB ;
    color: white;
    border-radius: 2px;
    padding: 8px 24px;
    text-decoration:none !important;
}

.btn-lilas:hover {
    background-color:#77E4D4;
    color: white;
    text-decoration:none;
}

.btn-lilas-transp {
    color: #998CEB;
    border-radius: 60px;
    border: 2px solid #998CEB;
    padding: 8px 32px;
    text-decoration:none !important;
  }
  
.btn-lilas-transp:hover {
    color: white;
    border: 2px solid #998CEB;
    background-color:#998CEB;
    text-decoration:none;
  }