.card .card-img-overlay {
  display: flex;
  align-items: center;
  justify-content: flex;
}
  
.card .card-img-overlay h5 {
  font-size: 20px;
  color: white;
  background-color: #998CEB;
  text-decoration: none;
}


/*slow*/

.cards {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:16px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .cards {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:16px;
  }
}

@media (max-width: 580px) {
  .cards {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:16px;
  }
}

.card-slow {
  border-radius:15px;
  /* border: 3px solid #FBF46D; */
  /* border: 2px solid rgba(0, 0, 0, 0.66); */
  border: 3px solid #998ceba1;
  background-color: white;
  min-height: 380px;
}

.card-slow-content {
  padding:0 16px;
  margin:0;
  justify-content: center;
  /* border-top: 1px solid black;*/
}

.card-slow img {
  height: 65%;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  object-position:center;
  padding: 16px;
}

.card-slow-content (h4,h5,p) {
  margin:0;
}

/*artefacts*/
.card-artefacts {
  border-radius:15px;
  border: 2px solid #b3fe98;
  background-color: white;
  max-height: 350px;
} 

.card-artefacts > img {
  height: 80%;
  width: 100%;
  object-fit: cover;
  object-position:center;
  padding: 16px;
}

/*Card Team*/
.card-team {
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

.card-team-content {
  margin-left: auto;
  margin-right: auto;
}

.card-team-content h4,h5,p {
  margin:0;
  text-align: center;
}

.card-team img {
  height: auto;
  width: 100%;
  object-position:center;
}
